<!DOCTYPE html>
<html lang="en" data-theme="halloween">
<link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/100hours/project/public/css/stats.css" rel="stylesheet">
<script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <link
      href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
      rel="stylesheet"
    />
</head>
<body>
  <div class="navbar bg-base-100">
    <div class=" flex-1">
      <a class="btn btn-ghost normal-case text-xl">2k</a>
    </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
            <li><a href="/">Main</a></li>
            <li><a href="/stats">Personal Stats</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
      </div>
    </div>
  <div class="min-[500px]:hidden flex-none">
    <ul class="menu menu-horizontal ">
      <li><a href="/statsSheet">2k22 stats</a></li> 
      <li><label for="my-modal-3" ><a>Create stats</a></label></li>
    </ul>
  </div>
  <div class="bg-base-300 ">
    <div class="min-[0px]:hidden min-[500px]:flex flex justify-center bg-base-200">
        <div class="btn-group " >
          <a class="btn btn-primary btn-primary" href="/statsSheet">2k22 Stats</a>
          <button class="btn"> <label for="my-modal-3" class="btn btn-primary modal-button">Create your own personal stats</label></button>
        </div>  
    </div>
  </div>
   
    <!-- <a class="btn btn-primary" href="/statsSheet">StatsSheet</a> -->
    
  
    <div id="wrapper"></div>
    
<!-- delete player stats -->
    <input type="checkbox" id="my-modal-delete" class="modal-toggle" class='hidden' />
    <div class="modal">
      <div class="modal-box relative">
        <label for="my-modal-delete" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <form id="formDelete" action="" method="POST">
        <p id='delete-message'></p>
        <button class="btn btn-primary">delete</button>
      </form>
      </div>
    </div>

<!-- upload personal stats -->
<input type="checkbox" id="my-modal-3" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-500">
      <form action="/stats/createStats" enctype="multipart/form-data" method='POST'>
          <div class="card-body">
            <h1>Add player Stats!</h1>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Name</span>
              </label>
              <input type="text" placeholder="Enter Player Name" name='nameItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Points Per Game</span>
              </label>
              <input type="number" placeholder="PPG" name='PPGItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Position</span>
              </label>
              <input type="text" placeholder="Enter Position" name='positionItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Team Average</span>
              </label>
              <input type="text" placeholder="Enter Team Average" name='teamAverageItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Rebounds per Game</span>
              </label>
              <input type="text" placeholder="Enter RPG" name='RPGItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Assist per Game</span>
              </label>
              <input type="text" placeholder="Enter APG" name='APGItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Blocks</span>
              </label>
              <input type="text" placeholder="Enter BPG" name='blockItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Steals</span>
              </label>
              <input type="text" placeholder="Enter SPG" name='stealItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Field goal</span>
              </label>
              <input type="text" placeholder="Enter FG" name='FGItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">3-Point field goal</span>
              </label>
              <input type="text" placeholder="Enter Three Point %" name='threePtItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Free Throw </span>
              </label>
              <input type="text" placeholder="Enter FT" name='FtItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Assist/turnover ratio</span>
              </label>
              <input type="text" placeholder="Enter Assit/To" name='assitToItem' class="input input-bordered" />
            </div>
            <div class="form-control mt-6">
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>



<!-- 
Edit stats -->
<input type="checkbox" id="my-modal-update" class="modal-toggle" />
<div class="modal">
  <div class="modal-box relative">
    <label for="my-modal-update" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 id ='editStat'class="text-lg font-bold">Edit player stats </h3>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-500">
      <form  id='form-update' action=""  method='POST'>
          <div class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Name</span>
              </label>
              <input type="text" placeholder="Enter Player Name" name='nameItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Points Per Game</span>
              </label>
              <input type="number" placeholder="PPG" name='PPGItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Position</span>
              </label>
              <input type="text" placeholder="Enter Position" name='positionItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Team Average</span>
              </label>
              <input type="text" placeholder="Enter Team Average" name='teamAverageItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Rebounds per Game</span>
              </label>
              <input type="text" placeholder="Enter RPG" name='RPGItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Assist per Game</span>
              </label>
              <input type="text" placeholder="Enter APG" name='APGItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Blocks</span>
              </label>
              <input type="text" placeholder="Enter BPG" name='blockItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Steals</span>
              </label>
              <input type="text" placeholder="Enter SPG" name='stealItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Field goal</span>
              </label>
              <input type="text" placeholder="Enter FG" name='FGItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">3-Point field goal</span>
              </label>
              <input type="text" placeholder="Enter Three Point %" name='threePtItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Free Throw </span>
              </label>
              <input type="text" placeholder="Enter FT" name='FtItem' class="input input-bordered" />
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Assist/turnover ratio</span>
              </label>
              <input type="text" placeholder="Enter Assit/To" name='assitToItem' class="input input-bordered" />
            </div>
            <div class="form-control mt-6">
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
  </div>
</div>


<!-- <label for="my-modal-delete" class="btn modal-button">open modal</label> -->

<!-- Put this part before </body> tag -->


    <script src="js/stats.js"></script>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>
        let  data = <%-JSON.stringify(stats)%>;
        let user = <%-JSON.stringify(user)%>;
      console.log(user)
      console.log(data)

      const modal = document.getElementById('my-modal-update')
      const updateForm = document.getElementById('form-update')
      const modalDelete = document.getElementById('my-modal-delete')
      const deleteForm = document.getElementById('formDelete')
      const editPlayerName = document.getElementById('editStat')
      const deleteP = document.getElementById('delete-message')
      console.log(deleteForm)
      console.log(updateForm)


// check user for the right id 
let results = []
      function loopData(data,user){
  for(let i = 0; i < data.length; i++){
    if(data[i][1] == user._id){
      results.push(data[i])
    }
  }
 }
 
 loopData(data,user)



      new gridjs.Grid({
      columns: [
        {name:'Id',hidden:true},{name: 'id' , hidden:true},'Name','Team Average','position','PPG', 'RPG','APG','Blocks','Steals','FG','3Pt%','FT%','assit/to',{
        name:'Edit',
        formatter:(cell,row) => {
          return gridjs.h('button',{
            className:'py-2 mb-4 px-4 border rounded-md text-white bg-slate-800',
            onClick: () => {  
              modal.checked = true;
              updateForm.setAttribute('action', `/stats/updateStats/${row.cells[0].data}?_method=PUT`)
              editPlayerName.innerText = `Edit player ${row.cells[2].data} `
           }
          },'Edit')
        }
      },
      {
        name:'Delete',
        formatter:(cell,row) => {
          return gridjs.h('button',{
            className:'py-2 mb-4 px-4 border rounded-md text-white bg-slate-800',
            onClick: () => {
              deleteForm.setAttribute('action', `stats/deleteStats/${row.cells[0].data}?_method=DELETE`)
              modalDelete.checked = true;
              deleteP.innerText = `Are you sure you want to delete ${row.cells[2].data}`
            
            }
          },'Delete')
        }
      }],
      resizable:true,
      data: results,
      sort: true,
      style:{
        table: {
         width: '-webkit-fill-available'

        },
        th:{
          'background-color': '#f28c18',
          'color': 'black',
          'text-align': 'center',
          'width': '600px'
        },
        td:{
        }
      }
    }).render(document.getElementById("wrapper"));
        
    </script>

</body>
<%- include('partials/footer') -%>
</html>